<rule>
  <name>test</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>MAIN-DOCUMENT-FOR-NP</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>DocTrxGroup</factType>
            <fieldName>name</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <compositeConstraint>
            <compositeJunctionType>&amp;&amp;</compositeJunctionType>
            <constraints/>
          </compositeConstraint>
        </constraints>
      </constraintList>
      <factType>DocTrxGroup</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>CONTRACT_CREATED</value>
            <operator>==</operator>
            <constraintValueType>4</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CheckList</factType>
            <fieldName>name</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>NO</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CheckList</factType>
            <fieldName>value</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <compositeConstraint>
            <compositeJunctionType>||</compositeJunctionType>
            <constraints/>
          </compositeConstraint>
        </constraints>
      </constraintList>
      <factType>CheckList</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>POLICY_STATUS</value>
            <operator>==</operator>
            <constraintValueType>4</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CheckList</factType>
            <fieldName>name</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>PS,UW </value>
            <operator>in</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CheckList</factType>
            <fieldName>value</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <compositeConstraint>
            <compositeJunctionType>||</compositeJunctionType>
          </compositeConstraint>
        </constraints>
      </constraintList>
      <factType>CheckList</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <freeForm>
      <text>System.out.println(&quot;hello&quot;);</text>
    </freeForm>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.aviva.documentroute</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list/>
    </entry>
  </table>
  <idCol>0</idCol>
  <rowsCount>0</rowsCount>
</rule>